<div class="container">
    <button type="button" class="btn btn-secondary" (click)="agregarPersona()">Nueva Persona</button>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Tipo Doc</th>
                <th scope="col">Acciones</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let per of listado">
                <th scope="row">{{per.id}}</th>
                <td>{{per.nombre}}</td>
                <td>{{per.apellido}}</td>
                <td>{{per.edad}}</td>
                <td>{{per.tipoDni.nombre}}</td>
                <td><button type="button" class="btn btn-secondary" (click)="modificar(per)">Modificar</button></td>
                <td>
                    <app-persona-eliminar [persona]="per" (onEliminar)="cargarListado()"></app-persona-eliminar>
                </td>
            </tr>
        </tbody>
    </table>
</div>